* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 179, 86);
}

#form-message {
  width: 220px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.form-set {
  background-color: bisque;
  padding: 3px;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 3px;
}

input {
  width: 140px;
}

#messages {
  background-color: bisque;
  position: fixed;
  top: 150px;
  left: 50%;
  width: 220px;
  transform: translate(-50%);
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contaner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.message {
  grid-column: 1/-1;
}
.message-host {
  font-weight: bold;
}
.message-guest {
  font-weight: bold;
}
